# Line Messaging API
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=

# Google Gemini API
GEMINI_API_KEY=

# MongoDB Atlas
MONGODB_URI=

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Admin Authentication
ADMIN_EMAIL=
ADMIN_PASSWORD=
